:root{
    background: linear-gradient(90deg, rgb(159, 191, 197),rgb(38, 38, 51));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 2, 2);
    opacity: 80%;
    color: rgb(255, 255, 255);
    
    margin: 0 auto;   
    justify-content: space-between;
    font-weight: bolder;
    font-size: large;
    justify-content: flex-end;
    
    
}

nav ul{
    list-style: none; 
    
    
}

nav ul li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    
}

section h1 {
    margin-top: 40vh;
    text-align: center;
    font-weight: bolder;
    font-size: 110px;
    color: rgb(181, 192, 192);
    
}

#welcome-section > p{
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    opacity: 80%;
    color: rgba(202, 119, 23, 0.973);
    margin-top: -12vh;
   }

#Proyects{
        background-image: linear-gradient(62deg, #3a3d40 0%, #d67200 100%);
        height: 1500px;
}

.proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 0;
    margin-top: 50px;
    justify-content: center;

}

#Proyects > h2{
    font-weight: bold;
    color: rgb(6, 45, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    padding-top: 50px;
}

.icons{
    display: grid;
    color: #000;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;;
}

.icon{
    height: 40px;
    width: 40px;
}

h2{
    text-align: center;
    font-weight: bold;
}

.project-tile{
    font-size: x-large;
    width: 300px;
    text-align: center;
    color: #042433;
    border-radius: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}




a:link{
    text-decoration: none;
    color: #9bcf20;
}

a:visited{
    text-decoration: none;
    color: #9bcf20;
}

a:hover{
    color: #d67200;
}
